//Colors
$primary-blue: #233c98;
$title-black: #3d3d3d;
$grey-text: #7a7a7a;
$light-grey: #dedede;
$red: #ee3124;
$background: #f6f6f6;
$header-color: linear-gradient(180deg, rgba(140,167,170,1) 0%, rgba(163,196,200,1) 2%, rgba(218,234,236,1) 84%, rgba(151,184,186,1) 100%);

//Other Variables
$nav-shadow: 0px 4px 7px 1px rgba(0,0,0,0.32);